<div id="homepage">
  <ul class="list-unstyled hide" v-class="hide: false">
    <li v-repeat="tweets | filterTweets">
      <blockquote>
        <p>{{text}}</p>
        <footer><a href="http://twitter.com/{{user.screen_name}}" target="_blank">@{{user.screen_name}}</a> at <span>{{timestamp_ms | ms}}</span></footer>
      </blockquote>
    </li>
  </ul>
</div>

<script>
(function (root) {
  document.addEventListener('diseasetrackReady', function () {
    require(['jquery', 'vue', 'sails.io', 'moment', 'binarysearch'], function (jQuery, Vue, io, moment, bs) {
      var $ = jQuery;
      return new Vue({
        el: '#homepage',
        data: {
          TWEETS_TO_DISPLAY: 20,
          tweets: [],
        },
        ready: function () {
          var self = this;
          io.socket.get('/tweet', {
            retweeted: false,
            sort: 'timestamp DESC',
            limit: self.TWEETS_TO_DISPLAY
          }, function (tweetInstances) {
            $.each(tweetInstances, function (_, tweetInstance) {
              self.addTweet(tweetInstance.json);
            });
          });
          io.socket.on('tweet', function (data) {
            self.addTweet(data.data.json);
          });
        },
        methods: {
          addTweet: function (tweet) {
            var tweets = this.tweets;
            var i = tweets.length ? bs(tweets, tweet, function (tweet) {
              return (tweet || {}).timestamp_ms || null;
            }) : 0;
            if (i < 0) i = -i - 1;
            tweets.splice(i, (tweets[i] || {}).id_str === tweet.id_str, tweet);
          }
        },
        filters: {
          ms: function (ms) { return moment(Number(ms)).format("h:mma"); },
          filterTweets: function () {
            return this.tweets.slice(-this.TWEETS_TO_DISPLAY).reverse();
          }
        }
      });
    });
  });
}(this));
</script>
